---
layout: layout.html
title: title
root: root
---

<div class="container-fluid">
  <div class="row">
    <!-- Sidebar -->
    <nav class="col-md-3 col-lg-2 d-md-block sidenav">
      {% for item in gamesnavbar %}
      <div class="nav-section">
        {% if item.subtabs %}
        <!-- Items with subtabs -->
        <a href="{{root}}{{item.href}}" class="section-link"
          >{{item.subtitle}}</a
        >
        <div class="subtabs">
          {% for subtab in item.subtabs %}
          <a href="{{root}}{{subtab.href}}" class="nav-link"
            >{{subtab.subtitle}}</a
          >
          {% endfor %}
        </div>
        {% else %}
        <!-- Items without subtabs -->
        <a href="{{root}}{{item.href}}" class="section-link"
          >{{item.subtitle}}</a
        >
        {% endif %}
      </div>
      {% endfor %}
    </nav>

    <!-- Main content -->
    <main class="gamesmain">
      <div class="container-fluid">
        <div class="row justify-content-center">
          <div class="col-md-8 col-lg-6">{{content}}</div>
        </div>
      </div>
    </main>
  </div>
</div>


<script src="{{root}}games/reveal.js"></script>
<script src="{{root}}games/gamesNav.js"></script>
