<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="author" content="Hugh Cheng" />
    {%- if title == "Home" -%}
    <title>Hugh Cheng</title>
    {%- else -%}
    <title>{{title}} | Hugh Cheng</title>
    {%- endif -%}
    <link rel="icon" type="image/png" href="{{root}}assets/turtle_cropped_resized.png">
    <!-- Bootstrap CSS -->
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
    />
    <!-- Custom CSS -->
    <link rel="stylesheet" href="{{root}}style.css" />
    <link rel="stylesheet" href="{{root}}ballsStyle.css" />
    <link rel="stylesheet" href="{{root}}games/gamesStyles.css" />
    <!-- Fonts -->
    <link
      href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto+Serif:ital,opsz,wght@0,8..144,100..900;1,8..144,100..900&display=swap"
      rel="stylesheet"
    />
    <script>
      window.MathJax = {
        tex: {
          inlineMath: [
            ["$", "$"],
            ["\\(", "\\)"],
          ],
          displayMath: [
            ["$$", "$$"],
            ["\\[", "\\]"],
          ],
          processEscapes: true,
        },
        options: {
          ignoreHtmlClass: "tex2jax_ignore",
          processHtmlClass: "tex2jax_process",
        },
      };
    </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/3.2.2/es5/tex-mml-chtml.js"></script>
  </head>
  <body>
    <header class="header">
      <div class="logo">
        <a href="/index.html"><em>hguh</em></a>
      </div>
      <nav class="nav">
        {% for item in navbar %}
        <a
          class="{% if title == item.title %}active{% endif %}"
          href="{{root}}{{item.href}}"
          >{{item.title}}</a
        >
        {% endfor %}
      </nav>
    </header>
    <div class="wrapper">
      {{content}}
      <footer class="footer">
        <p>&copy; 2025 Hugh Cheng</p>
      </footer>
    </div>
    <!-- Bootstrap JS and dependencies -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>
  </body>
</html>
